body {
  color: black;
}
.idea-box {
  background-color: #FFF0A5;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #FFB03B;
}

h2 {
  color: #468966;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
li{display: inline;
  width: 33%;
}
